#!/bin/bash
# Sample configuration for environment variables in local development

export PORT=3000
export NPM_TOKEN=
export NODE_ENV=development
export DATABASE_URL=

# Mailgun (for email sending, heroku add-on)
export MAILGUN_API_KEY=
export MAILGUN_DOMAIN=

# Worker email address
export WORKER_EMAIL=

# Set prompt prefix
PREFIX="[tko-aly-reinbursement-platform]"
if [[ $PS1 != *"$PREFIX"* ]]
then
    export PS1="$PREFIX $PS1"
    echo "Environment variables set!"
else
    echo "Environment variables updated!"
fi
